<a href="/">
      <%= image_tag "Puppy1.png", width: 200 %>
</a>
<a href="/">
      <%= image_tag "Puppy2.png", width: 200 %>
</a>

<a href="/">
      <%= image_tag "Puppy3.png", width: 200 %>
</a>
<a href="/">
      <%= image_tag "Puppy4.png", width: 200 %>
</a>
<a href="/">
      <%= image_tag "Puppy5.png", width: 200 %>
</a>
<a href="/">
      <%= image_tag "Puppy6.png", width: 200 %>
</a>
<a href="/">
      <%= image_tag "Puppy7.png", width: 200 %>
</a>
<a href="/">
      <%= image_tag "Puppy8.png", width: 200 %>
</a>
<a href="/">
      <%= image_tag "Puppy9.png", width: 200 %>
</a>
<a href="/">
      <%= image_tag "Puppy10.png", width: 200 %>
</a>
<a href="/">
      <%= image_tag "Henry.png", width: 200 %>
</a>
