<div class="banner-product" style="height: 200px; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1526392587392-d1627b6c134a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Z3JlZW4lMjBncmFzc3xlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80);">
  <h3 class="text-center">All the Dogs looking for temporary homes</h3>
</div>

<div>
<%= form_with url: dogs_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Look for a dog"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
</div>

<div class="container">
  <div class="row">
    <% @dogs.each do |dog|%>
      <div class="card-product col-3 justify-content-between m-1" style="">
        <div class="e">
          <% if  dog.photo.attached? %>
            <%= cl_image_tag dog.photo.key %>
          <% else %>
              <%= image_tag ["Puppy1.jpg", "Puppy2.jpg", "Puppy3.jpg", "Puppy4.jpg", "Puppy5.jpg","Puppy6.jpg","Puppy7.jpg", "Puppy8.jpg", "Puppy9.jpg", "Puppy10.jpg"].sample, width: 400, height: 200 %>
          <% end %>

          <div class="card-body">
            <h5 class="card-title">Meet <%= dog.name %> </h5>
            <p class="card-text">Hi I'm a <%= dog.breed %> and I'm <%= dog.age %> years old. </p>
            <%= link_to dog.name, dog_path(dog.id), class: "btn btn-flat"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <a class=" btn btn-primary" href="/dogs/new">Add a dog</a>
</div>
