<div class="banner-product" style="height: 200px; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));">
  <h3 class="text-center">All the Dogs looking for temporary homes</h3>
</div>

<div>
<%= form_with url: dogs_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "What kind of dog are you looking for?"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
</div>
<div data-controller="checkbox">
  <input type="checkbox" class="form-check-input" data-action="click->checkbox#fire">
  <label for="vehicle1">Show only my dogs</label>
  <br>
  <div class="container">
    <div class="row">
      <% @my_dogs.each do |dog|%>
        <div class="card-product col-3 justify-content-between m-2" style="">
          <div class="e">
            <% if  dog.photo.attached? %>
              <%= cl_image_tag dog.photo.key %>
            <% else %>
                <%= image_tag ["Puppy1.jpg", "Puppy2.jpg", "Puppy3.jpg", "Puppy4.jpg", "Puppy5.jpg","Puppy6.jpg","Puppy7.jpg", "Puppy8.  jpg", "Puppy9.jpg", "Puppy10.jpg"].sample, width: 400, height: 200 %>
            <% end %>

            <div class="card-body">
              <h5 class="card-title">Meet <%= dog.name %> </h5>
              <p class="card-text">Hi I'm a <%= dog.breed %> and I'm <%= dog.age %> years old. </p>
              <%= link_to dog.name, dog_path(dog.id), class: "btn btn-flat"%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row" data-checkbox-target="togglableElement">
      <% @not_my_dogs.each do |dog|%>
        <div class="card-product col-3 justify-content-between m-2" style="">
          <div class="e">
            <% if  dog.photo.attached? %>
              <%= cl_image_tag dog.photo.key %>
            <% else %>
                <%= image_tag ["Puppy1.jpg", "Puppy2.jpg", "Puppy3.jpg", "Puppy4.jpg", "Puppy5.jpg","Puppy6.jpg","Puppy7.jpg",     "Puppy8jpg", "Puppy9.jpg", "Puppy10.jpg"].sample, width: 400, height: 200 %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title">Meet <%= dog.name %> </h5>
              <p class="card-text">Hi I'm a <%= dog.breed %> and I'm <%= dog.age %> years old. </p>
              <%= link_to dog.name, dog_path(dog.id), class: "btn btn-flat"%>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>

    <a class=" btn btn-primary" href="/dogs/new">Add a dog</a>
  </div>
</div>

<div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
