
<h2><%= @dog.name %></h2>

<div class="container" >

  <img class="card-img-top" src="<%= @dog.photo_url %>" alt="Card image cap">
  <h3><%= @dog.breed %></h3>
  <h5><%= @dog.age %></h5>

  <%= render "bookings/booking-form" %>
</div>
